/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Vibur&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Vibur&display=swap');
:root {
    --mainColor:#3A5AFF;
    --mainFont: 'Montserrat', sans-serif;
    --logofont: 'Vibur', cursive;
    --textWhite: #fff;

}

* {
    box-sizing: border-box;
}
